
    <!-- Footer -->
    <footer id="footer" class="bg-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-4 foot">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:banquetesantony@gmail.com">
                  <i class="fa fa-envelope-o"></i>
                </a>
              </li>
              banquetesantony@gmail.com
            </ul>
          </div>
          <div class="col-md-4 foot">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#footer">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </li>
                (+57) 3002475759
            </ul>
          </div>
          <div class="col-md-4 foot">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 foot">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/banquetesantony/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <a href="https://www.facebook.com/banquetesantony/" target="_blank">
                www.facebook.com/banquetesantony
              </a>
            </ul>
          </div>
          <div class="col-md-4 foot">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#footer" [ngx-scroll-to]="'footer'">
                  <i class="fa fa-phone-square"></i>
                </a>
              </li>
              (+57) 3117550993 / (+57) (2) 4329511
            </ul>
          </div>
          <div class="col-md-4 foot">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#inicio" [ngx-scroll-to]="'page-top'">Copyright &copy; Banquetes Antony 2018</a>
              </li>
          </ul>
          </div>
        </div>
      </div>
    </footer>
