
    <!-- Footer -->
    <footer id="footer" class="bg-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-4 foot">
            <a href="mailto:banquetesantony@gmail.com">
              <i class="fa fa-envelope-o"></i>
              <span>banquetesantony@gmail.com</span>
            </a>
          </div>
          <div class="col-md-4 foot">
            <a href="#footer" [ngx-scroll-to]="'footer'">
              <i class="fa fa-whatsapp"></i>
              <span>(+57) 3002475759</span>
            </a>
          </div>
          <div class="col-md-4 foot d-xs-none d-md-block">
            <span>Cali - Colombia</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 foot">
            <a href="https://www.facebook.com/banquetesantony/" target="_blank">
              <i class="fa fa-facebook"></i>
              <span>www.facebook.com/banquetesantony</span>
            </a>
          </div>
          <div class="col-md-4 foot">
            <a href="#footer" [ngx-scroll-to]="'footer'">
              <i class="fa fa-phone-square"></i>
              <span>(+57) 3117550993 / (+57) (2) 4329511</span>
            </a>
          </div>
          <div class="col-md-4 foot copyright">
            <a href="#inicio" [ngx-scroll-to]="'page-top'">Copyright &copy; Banquetes Antony 2018</a>
          </div>
          <div class="col-md-4 foot d-sm-none">
            <span>Cali - Colombia</span>
          </div>
        </div>
      </div>
    </footer>
