<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Servicios</h2>
        <h3 class="section-subheading text-muted">Comidas especiales para sus eventos empresariales, familiares, personales.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-building fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Comidas empresariales</h4>
        <p class="text-muted">Desayunos, almuerzos, refrigerios  o asados para reuniones ejecutivas, integraciones empresariales o celebraciones corportativas.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Buffet Fechas Especiales</h4>
        <p class="text-muted">Catering y pasabocas para sus eventos especiales: reuniones familiares, integraciones con amigos, cumpleaños, aniversarios, grados, primera comunión, etc.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Alquiler para eventos sociales</h4>
        <p class="text-muted">Alquiler de vajilla, vasos y cubiertos para sus eventos especiales. Recomendación de salones, decoración, música, alquiler de sillas, mesas o mantelería.</p>
      </div>
    </div>
  </div>
</section>
